{% extends 'base.html.twig' %}

{% block title %}Modification du calendrier{% endblock %}

{% block body %}
    <h1>Modification du calendrier</h1>

    {{ include('calendar/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('calendar_index') }}">Retour à la liste</a>

    {{ include('calendar/_delete_form.html.twig') }}
{% endblock %}
