{% extends 'base.html.twig' %}

{% block title %}Shikeygami | Nouveau jeu{% endblock %}

{% block body %}
    <h1>Nouveau jeu</h1>

    {{ include('game/_form.html.twig') }}

    <a href="{{ path('game_index') }}">Retour à la liste</a>
{% endblock %}
