    <form method="post" action="">
        <label for="surname">Nom</label>
        <input type="text" id="nom" name="surname">

        <label for="prenom">Prenom</label>
        <input type="text" id="firstname" name="firstname">

        <label for="tel">Téléphone</label>
        <input type="tel" id="tel" name="telephone" pattern="^[0-9]{10}$" maxlength="10" required>

        <label for="mail">Mail</label>
        <input type="email" id="mail" name="mail" required>

        <label for="message">Message</label>
        <textarea id="message" name="message"></textarea>

        <input type="submit" value="Envoyer !" id="submit">
    </form>