{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {{ encore_entry_link_tags("accueil") }}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags("accueil") }}
{% endblock %}

{% block body %}


<!-- Slideshow container -->
<div class="slideshow-container fade">

<!-- Full images with numbers and message Info -->
    <div class="Containers">
            <img src="img/carouselBanner/1.jpg">
                <div class="Info">Yokai Exorcism</div>
                <div class="moreInfo">
                    <a href="#">En savoir plus</a>
                </div>
    </div>

    <div class="Containers">
            <img src="img/carouselBanner/2.jpg">
                <div class="Info">Attack on alien</div>
                    <div class="moreInfo">
                        <a href="#">En savoir plus</a>
                    </div>
    </div>

    <div class="Containers">
            <img src="img/carouselBanner/3.jpg">
                <div class="Info">Salle3</div>
                <div class="moreInfo">
                    <a href="#">En savoir plus</a>
                </div>
    </div>

    <div class="Containers">
            <img src="img/carouselBanner/4.jpg">
                <div class="Info">Salle4</div>
                    <div class="moreInfo">
                        <a href="#">En savoir plus</a>
                    </div>
    </div>

<!-- Back and forward buttons -->
    <a class="Back" onclick="plusSlides(-1)"><i class="fas fa-chevron-left"></i></a>
    <a class="forward" onclick="plusSlides(1)"><i class="fas fa-chevron-right"></i></a>
</div>
<br>

<!-- The circles/dots -->
    <div style="text-align:center">
        <span class="dots" onclick="currentSlide(1)"></span>
        <span class="dots" onclick="currentSlide(2)"></span>
        <span class="dots" onclick="currentSlide(3)"></span>
    </div> 

<!-- Main content -->
<main>
    <div class="content">
        <h2 class="roomTitle">Nos salles</h2>
        <div class="shape">
            <a href="">
                <div class="align">
                    <h2>Salle1</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint recusandae aperiam cumque possimus natus, neque cum dolor deleniti ea alias optio iste provident iure ratione illum similique excepturi ad culpa sequi sit, nemo sapiente odit fugiat. Ad autem itaque quibusdam nulla at consequatur, placeat voluptatem error et facilis, dignissimos unde!</p>
                </div>
            </a>
        </div>
        <div class="shape2">
            <a href="">
                <div class="align">
                    <h2>Salle2</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint recusandae aperiam cumque possimus natus, neque cum dolor deleniti ea alias optio iste provident iure ratione illum similique excepturi ad culpa sequi sit, nemo sapiente odit fugiat. Ad autem itaque quibusdam nulla at consequatur, placeat voluptatem error et facilis, dignissimos unde!</p>
                </div>
            </a>
        </div>
        <div class="shape3">
            <a href="">
                <div class="align">
                    <h2>Salle3</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint recusandae aperiam cumque possimus natus, neque cum dolor deleniti ea alias optio iste provident iure ratione illum similique excepturi ad culpa sequi sit, nemo sapiente odit fugiat. Ad autem itaque quibusdam nulla at consequatur, placeat voluptatem error et facilis, dignissimos unde!</p>
                </div>
            </a>
        </div>
        <div class="shape4">
            <a href="">
                <div class="align">
                    <h2>Salle4</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint recusandae aperiam cumque possimus natus, neque cum dolor deleniti ea alias optio iste provident iure ratione illum similique excepturi ad culpa sequi sit, nemo sapiente odit fugiat. Ad autem itaque quibusdam nulla at consequatur, placeat voluptatem error et facilis, dignissimos unde!</p>
                </div>
            </a>
        </div>

        <h1>Contact</h1>
    <div class="contactContainer">
        <div class="left">
        <p>adresse: jfizjfe</p>
        <p>numero: 08087798899</p>
        </div>

        <div class="right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4539.117302188142!2d2.353189438661635!3d48.85493637261149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671fd10fa77a9%3A0xb2bbd365849898f2!2sWebForce3%20Paris%204%C3%A8me%20-%20Formation%20D%C3%A9veloppeur%20web%2C%20Technicien%20syst%C3%A8mes%20r%C3%A9seaux%2C%20Designer%20web%20marketing%20digital...!5e0!3m2!1sfr!2sfr!4v1631903662339!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    </div>

</main>
{% endblock %}

