{% extends 'base.html.twig' %}

{% block title %}Shikeygami | Concept
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags("concept") }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags("concept") }}
{% endblock %}

{% block body %}
	<div class="banner-container">
		<img src="/img/concept/conceptBanner.jpg" alt="agent en action">
		<div class="info">
			<p>Concept</p>
		</div>
	</div>
    <main>
        <div class="content">
            <h2 class="content-title">Histoire</h2>
            <p class="content-description">Vous êtes un mercenaire de l'an 2267, le Japon est en péril. Une espèce extraterrestre tente d'asservir l'humanité en changeant le cours de l'histoire. <br>
			L’organisation Shikeygami Corp vous engage afin de retrouver des artefacts permettant de sauver le monde.
			<br>Ces derniers sont disséminés à travers différentes époques du Japon.
			<br>La Shikeygami Corp a ouvert des portails vous permettant d’y accéder pendant un temps limité.
			<br>Le destin du monde est entre vos mains !</p>

			<h2 class="content-title">Notre équipe</h2>
			<div class="pictures">
				<div class="profileLeft">
					<img src="/img/concept/Anais.jpg" alt="photo de Anais">
					<div class="who">
						<h3>Anais</h3>
						<p class="pLeft"><span class="nameBold">Anais</span> est notre membre le plus stratégique. Elle saura vous guider tout au long de votre expérience même sur les énigmes les plus complexes.<br>
						Ses missions favorites sont celles qui semblent être les plus difficiles...<br>
						</p>
						<p class="question">Serez-vous capable de suivre la cadence de l'astucieuse Anais ?</p>
					</div>
				</div>
				<div class="profileRight">
					<img src="/img/concept/Louis.jpg" alt="photo de Louis">
					<div class="who">
						<h3>Louis</h3>
						<p class="pRight"><span class="nameBold">Louis</span>, passionné de sciences, il peut vous expliquer toutes les nuances à connaître sur le domaine scientifique afin de percer le mystère d'une salle.<br>
						Mais gare à vous, cela pourrait vous faire perdre un temps précieux !
						<br>
						</p>
						<p class="question">Alors, oserez-vous tenter l'expérience avec Louis ?</p>
					</div>
				</div>
				<div class="profileLeft">
					<img src="/img/concept/Anouk.jpg" alt="photo de Anouk">
					<div class="who">
						<h3>Anouk</h3>
						<p class="pLeft"><span class="nameBold">Anouk</span> est notre gamemaster la plus habile avec les mots. Elle pourra vous aider à déchiffrer les codes les plus incompréhensibles. <br>Cependant, elle le fera sans jamais vous donner la réponse.
						<br>
						</p>
						<p class="question">Arriverez-vous à comprendre les indices de la subtile Anouk ?</p>
					</div>
				</div>
				<div class="profileRight">
					<img src="/img/concept/Mehdi.jpg" alt="photo de Mehdi">
					<div class="who">
						<h3>Mehdi</h3>
						<p class="pRight"><span class="nameBold">Mehdi</span>, notre gamemaster plein de ressources, est familier de l'univers du Japon puisqu'il y a vécu quelques années! <br> Il saura vous expliquer avec clarté les légendes ou encore les éléments culturels japonais présents dans les salles.
						<br>
						</p>
						<p class="question">Êtes-vous prêt(e)s à plonger dans l'univers japonais accompagné(e) de Mehdi ?</p>
					</div>
				</div>
			</div>
		</div>
    </main>
{% endblock %}
