
/*-----------------------------Carousel-----------------------------*/

/* Le container du carousel */
.slideshow-container {
    width: 100%;
    height: 550px;
    position: relative;
    margin: auto;
}
.slideshow-container img {
    width: 100%;
    height: 590px;
    object-fit: cover;
    object-position: 0 50%;
}
/* Ref pour slideshow */
/* Cette ref va servir pour récupérer les éléments nécéssaires au javascript */
.hidden{
    display: none;
}

  /* par défaut on rend les images invisible */
.containers {
    display: block;
}
/* par défaut on rend les images invisible */
#image2{
    display: none;
}

#image3{
    display: none;
}
#image4{
    display: none;
}
  /* Les boutons précédent et suivant */
.back, .forward {
    cursor: pointer;
    position: absolute;
    top: 53%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 50px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
    opacity: 1;
}

  /* On place le bouton suivant à droite */
.forward {
    right: 0;
    border-radius: 4px 0 0 4px;
}

  /* Au survol des boutons un background noir transparent */
.back:hover, .forward:hover {
    background-color: rgba(0,0,0,0.8);
}

  /* Titre des salles */
.info {
    position: absolute;
    top: 5px;
    width: 100%;
}

.info p{
    color: #e3e3e3;
    font-weight: bold;
    padding: 10px 14px;
    margin: 4% auto 0 auto;
    width: 47%;
    text-align: center;
    background-color: #0000008f;
    font-size: 65px;
}

/* Bouton en savoir plus */
.moreInfo{
    font-size: 30px;
    position: absolute;
    bottom: 100px;
    width: 100%;
}

.moreInfo a{
    color: var(--info-text);
    text-decoration: none;
    border: 1px solid var(--main-white);
    display: block;
    /* Pour prendre les dimensions qu'on a énuméré au dessus*/
    padding: 20px 0px;
    margin: 54px auto 0 auto;
    width: 200px;
    text-align: center;
}

.moreInfo a:hover{
    color: #000000;
    background-color: var(--main-white);
    transition: 0.9s;
}

/* Animation: fondu*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 2}
}

/*----------------------------- Main -----------------------------*/
.roomTitle{
    color: var(--main-white);
    font-weight: 300;
    font-size: 60px;
    padding: 20px 0;
}
.shape, .shape2, .shape3, .shape4, a{
    display: flex;
    position: relative;
    position: relative;
    text-decoration: none;
}

/******** SHAPE 1 ********/
.shape a{
    justify-content: flex-end;
}

.shape{
    z-index:5;
    height: 400px;
    width: 100%;
    /* image test */
    /* background-image: url("../img/layout/1.jpg"); */
    /* --- */
    background-size: cover;
    shape-margin: 20px;
    shape-outside: polygon(0 0, 100% 0, 100% 120%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 98%, 0 85%);
    transition: 1s;
}

.shape:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 6000;
}

/******** SHAPE 2 ********/
.shape2 a{
    justify-content: flex-start;
}

.shape2{
    z-index: 4;
    top: -60px;
    height: 400px;
    width: 100%;
    /* background-image: url("../img/layout/2.jpg"); */
    background-size: cover;
    shape-margin: 20px;
    shape-outside: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 13%, 100% 85%, 0 100%);
    transition: 1s;
}

.shape2:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index:6000;

}

@keyframes move {
    from { z-index: 4; }
    to { z-index: 5; }
}
/******** SHAPE 3 ********/
.shape3 a{
    justify-content: flex-end;
}

.shape3{
    z-index: 3;
    top: -120px;
    height: 400px;
    width: 100%;
    /* background-image: url("../img/layout/3.jpg"); */
    background-size: cover;
    shape-margin: 20px;
    shape-outside: polygon(0 0, 100% 0, 100% 120%, 0 85%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
    transition: 1s;
}

.shape3:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index:6000;
}

/******** SHAPE 4 ********/
.shape4 a{
    justify-content: flex-start;
}

.shape4{
    z-index: 2;
    top: -180px;
    height: 400px;
    width: 100%;
    /* background-image: url("../img/layout/4.jpg"); */
    background-size: cover;
    shape-outside: polygon(0 0, 100% 0, 100% 120%, 0 85%);
    clip-path: polygon(0 0%, 100% 15%, 100% 100%, 0 100%);
    transition: 1s;
}

.shape4:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index:6000;
}

/******** IMAGES TEXT ********/
.align{
    width: 30%;
    text-align: start;
    background-color: rgb(var(--info-bg));
    padding: 0 20px 0 20px;
    position: relative;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}
.shape:hover .align, .shape2:hover .align, .shape3:hover .align, .shape4:hover .align{
    opacity: 1;
}

.shape:hover .align p, .shape2:hover .align p, .shape3:hover .align p, .shape4:hover .align p{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.1s;
}

.shape:hover .align h2, .shape2:hover .align h2, .shape3:hover .align h2, .shape4:hover .align h2{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.2s;
}

.align p{
    color: white;
    font-size: 14px;
    padding: 30px 0 0 0;
    transition: all 0.3s linear;
    opacity: 0;
    transform: translateY(100px);
}
.align h2{
    color: white;
    font-weight: 300;
    padding: 30px 0 0 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    transform: translateY(-100px);
}

/* CONTACT*/
.contactSection{
    margin-top: -138px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 30px 80px;
    padding: 20px;
}

.icons a{
    text-decoration: none;
    color: var(--main-white);
    font-size: 40px;
}

.icons a:hover{
    color: var(--main-red);
    transition: 1s;
}

.square{
    width: 100%;
    height: 560px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color:#201f1f;
}

.square p{
    font-size: 30px;
    padding: 40px;
}

.question {
    padding-top: 170px;
}
.facebookLink, .googleMaps, .contact, .contactForm{
    display: none;
}

.googleMaps{
    padding-top: 20px;
}
.contact{
    padding: 100px 195px 0 195px;
}
.contactForm{
    padding-top: 30px;
}

.contactForm form {
    width: 50%;
    margin: auto;
}

.contactForm form label {
    margin-bottom: 10px;
    color: #ffffff;
    display: block;
}

.contactForm form input {
    width: 100%;
    height: 32px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}

.contactForm form textarea {
    width: 100%;
    height: 102px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 0;
    resize: none;
}

.contactForm form #submit {
    width: 125px;
    height: 40px;
    border: none;
    background-color: #000000;
    font-size: 20px;
    color: var(--main-white);
    margin: auto;
    display: block;
    cursor: pointer;
}

.contactForm form #submit:hover {
    color: #000000;
    background-color: var(--main-white);
    transition: 0.5s;
    border: 1px solid #000000;
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }

    @keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    } 
/******************************************** RESPONSIVE    *****************************************************/
 /* Ipads portrait & landscape */
 @media screen and (max-width : 1024px){
    .slideshow-container{
        width: 100%;
    }

    .moreInfo {
        bottom: 40px;
    }

    .info p {
        width: 56%;
        font-size: 40px;
    }

    main{
        width: 100%;
        padding: 0;
    }

    .content {
        margin: 0 0%;
    }

    .align, .align p, .align h2{
        opacity: 1;
        transform: none;
    }

    .align p{
        padding: 8px 0 0 0;
    }
}


/* Iphone 5 portrait & landscape */
@media screen and (max-width: 568px){ 
    

    .slideshow-container {
    height: 500px;
    }
    .slideshow-container img {
    height: 500px;
    object-position: 50% 33%;
    }

    .info p{
        width: 70%;
        font-size: 30px;
        margin: 20% auto 0 auto;
    }

    .moreInfo{
    font-size: 20px;
    bottom: 38px;
    }

    .moreInfo a{
        border: 3px solid var(--main-white);
        margin: 8% auto;
        width: 165px;
        padding: 13px 5px;
    }

    main{
        margin: 0;
        padding: 0;
    }

    .roomTitle{
        font-size: 30px;
    }

    .shape, .shape2, .shape3, .shape4{
        height: 210px;
        width: 100%;
    }

    .align {
        width: 35%;
    }

    .align, .align p, .align h2{
        opacity: 1;
        transform: none;
    }

    .align p{
        font-size: 6px;
        padding: 8% 0;
    }

    .shape .align h2{
        padding: 6px 0;
        font-size: 16px;
    }

    .shape2 .align h2, .shape3 .align h2, .shape4 .align h2{
        padding: 40px 0 0 0;
        font-size: 16px;
    }

    .icons{
        margin: 20px 20px;
        padding: 0;
    }

    .square{
        height: 500px;
    }

    .square p{
        font-size: 20px;
        padding: 20px 0;
    }

    .question {
        font-size: 40px;
    }

    .contact{
        font-size: 40px;
        padding: 150px 0 0 0;
    }
    
    .frameMaps{
        min-width: 180px;
        width: 270px;
    }
    .frameFacebook{
        min-width: 150px;
        width: 200px;
    }

}
/* Iphone 5  landscape corrections */
@media screen and (max-width: 568px) and (orientation: landscape) { 

        .info p{
            margin: 10% auto 0 auto;
        }

        .slideshow-container {
            height: 320px;
        }

        .slideshow-container img {
            height: 300px;
            object-position: 50% 33%;
        }

        .align p {
            font-size: 9px;
        }

        .contact {
            padding: 60px 0 0 0;
        }
        .contact p{
            padding: 28px 16px 0 16px;
            margin-top: 10px;
        }
        .square {
            height: 420px;
        }

        .question {
            padding-top: 120px;
        }

        .square p{
            padding: 10px;
        }

        .frameMaps{
            min-width: 180px;
            width: 400px;
            height: 250px;
        }
        .frameFacebook{
            min-width: 180px;
            width: 400px;
            height: 250px;
        }

    }