.content{
    margin: 5% 25%;
    padding: 16px 10px;
}

#title{
    font-size: 30px;
}

.game, .startTime, .endTime{
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

#calendar_game{
    margin-left: 10%;
}

.btn, #backList{
    margin-block: 10px;
    padding: 8px 50px;
    cursor: pointer;
    background: var(--main-white);
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    letter-spacing: 4px;
}

.btn:hover, #backList:hover {
    color: #d53648;
    background: var(--main-grey);
    font-weight: 700;
    transition: 0.5s 0.1s;
}

#backList{
    width: 50%;
    margin-left: 25%;
}