@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-white: #ffffff;
    --main-red: #d53648;
    --main-grey: #312f2f;
    --info-text: #e3e3e3;
    --info-bg: 48, 60, 71, 0.5;
    --flash-bg-success: #ffffff;
    --flash-text-success: #d53648;
    --flash-bg-warning: #d53648;
    --flash-text-warning: #ffffff;
}
/*******Cookie***********/
.wrapperCookie{
    z-index: 6001;
    display: none;
    position: fixed;
    text-align: center;
    bottom: 25px;
    left: 25px;
    background: rgb(56, 56, 56);
    max-width: 320px;
    border-radius: 10px;
    padding: 20px;
}
.wrapperCookie.hide{
    opacity: 0;
    visibility: hidden;
    /* transition: all 0.3s ease-in; */
}
.wrapperCookie .imgCookie{
    max-width: 100px;
}
.contenu .titleCookie{
    font-size: 20px;
    font-weight: 800;
}
.contenu .textCookie{
    font-size: 15px;
}
.buttonCookie{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}
.buttonCookie .accept{
    padding: 5px;
    background: white;
    color: rgb(56, 56, 56);
    border: none;
    outline: none;
    border-radius: 5px;
    width: 45%;
    cursor: pointer;
    font-weight: 600;
}
.buttonCookie .infoCookie{
    width: 45%;
    color: #d53648;
    font-weight: 600;
}
/***********************/
.centered{
    text-align: center;
    margin: auto;
}

h1, h2, h3, p, div{
    color: var(--main-white);
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}
/* Messages flashs */
.flash-success{
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    background-color: var(--flash-bg-success);
    color: var(--flash-text-success);
    animation: blinker 3s linear 2;
}

.flash-warning{
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    background-color: var(--flash-bg-warning);
    color: var(--flash-text-warning);
    animation: blinker 3s linear 3;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }
/********************** *****************************/
body{
    margin: 0;
    background-color: var(--main-grey);
    font-family: 'Nunito', sans-serif;
}

main{
    padding: 15px 0;
    background-image: url("../img/backgrounds/accueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 0 25%;
    background-color: var(--main-grey);
    overflow:hidden;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    text-align: center;
}

/* @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px) */
/*i-phone 5*/

@media screen and (max-width:1024px)
{ 
    .content{
        margin: auto;
        width: 100%;
    }

    /**********cookies**********/
    .buttonCookie{
        flex-direction: column;
        margin: 10px;
    }
    .buttonCookie .accept, .buttonCookie .infoCookie{
        width: 80%;
        margin-top: 10px;
        
    }
    
}

@media screen and (max-width:568px)
{ 
        .content{
            margin: 0;
            width: 100%;
        }
        .wrapperCookie{
        max-width: 280px;
        }
}



