@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.centered{
    text-align: center;
    margin: auto;
}
/*-----------------------------Header-----------------------------*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #312f2f;
}
h1, h2, h3, p, div{
    color: white;
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
}


.logo{
    width: 80px;
    margin: 0 2%;
}
.brand{
    display: flex;
    align-items: center;
    margin: 0 20px;
    width: 40%;
}
.menu{
    display: flex;
    align-items: center;
    margin: 0 20px;

}
.menu h2{
    color: white;
    padding: 20px 30px;
    margin: 20px 0;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: large;
}
.delimitationY{
width: 4px;
height: 20px;
background-color: black;
}

/********************** *****************************/

main{
    padding: 15px 0;
    background-image: url("../img/backgrounds/accueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 0 25%;
    background-color: #312f2f;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    text-align: center;
}
