@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-white: #ffffff;
    --main-red: #d53648;
    --main-grey: #312f2f;
    --info-text: #e3e3e3;
    --info-bg: 48, 60, 71, 0.5;
}
.centered{
    text-align: center;
    margin: auto;
}

h1, h2, h3, p, div{
    color: var(--main-white);
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

/********************** *****************************/
body{
    margin: 0;
    background-color: var(--main-grey);
    font-family: 'Nunito', sans-serif;
}

main{
    padding: 15px 0;
    background-image: url("../img/backgrounds/accueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 0 25%;
    background-color: var(--main-grey);
    overflow:hidden;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    text-align: center;
}
