/* Bannière */
.banner-container {
    width: 100%;
    height: 550px;
    position: relative;
    margin: auto;
}
.banner-container img {
    width: 100%;
    height: 590px;
    object-fit: cover;
    object-position: 0 40%;
}
.info {
    position: absolute;
    top: 5px;
    width: 100%;
}
.info p{
    color: var(--text-grey);
    font-weight: bold;
    padding: 10px 14px;
    margin: 4% auto 0 auto;
    width: 47%;
    text-align: center;
    background-color: rgb(var(--info-bg));
    font-size: 100px;
}
/* Description */
.content{
    margin-top: 50px;
}

.content-title{
    color: white;
    font-size: 30px;
    margin-block: 10px;
    padding: 20px 0;
}
.content-description{
    color: white;
    font-weight: 300;
    margin-block: 10px;
    background-color: #1f1d1d;
    margin: 0px -10px;
    padding: 8%;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.2);
}

.pictures{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    background-color: #00000065;
    border-radius: 25px;
}

.pictures img{
    width: 150px;
    margin: 10px;
    border-radius: 50%;
}

.nameProfile{
    display: flex;
    flex-direction: column;
}

.nameProfile p{
    font-size: 18px;
    font-weight: bold;
}

.descriptionStaff p{
    margin: 20px;
    text-align: left;
}

.nameBold{
    font-weight: 900;
}

@media screen and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2){
        .banner-container{
            height: 500px;
        }
        .banner-container img{
            height: 500px;
            object-position: 50% 33%;
        }
        .content{
            margin: 0;
            width: 100%;
        }
        .info p{
            width: 70%;
            font-size: 30px;
            margin: 20% auto 0 auto;
        }
    }
@media screen and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape){
        .info p{
            margin: 10% auto 0 auto;
        }
        .banner-container{
            height: 320px;
        }
        .banner-container img{
            height: 300px;
            object-position: 50% 33%;
        }
        .content-description{
            margin-block: 9px;
        }
    }
@media screen and (max-width : 1024px){
        .info p {
            width: 56%;
            font-size: 75px;
        }
        main{
            width: 100%;
            padding: 0;
            margin-block: 70px;
        }
        .content {
            width: 100%;
            margin: 0;
        }
    }