.vignetteImg{
    height: 250px;
    border-radius: 5%;
    border: solid #000000;
}
table{
    margin: auto;
}
/*Bannière de haut de page*/
.topContainer{
    width: 70%;
    position: relative;
    margin: auto;
    margin-bottom: 40px;
    background-image: url("../img/profileImages/CloudBanner.png");
    background-size: 100% 250px;
    background-repeat: no-repeat;
}
.containerRelative{
    position: relative;
    margin: auto;
}
.topBanner{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}
.profileAvatar{
    width: 130px;
    position: relative;
    margin-bottom: 150px;
    display: block;
    margin: auto;
    top: -25px;
}
/*Titre h1 h2*/
.titleCenter h1, .titleCenter h2{
    text-align: center;
}
.titleCenter h1{
    margin: 40px 0;
    font-size: 50px;
}
.titleCenter h2, .infoPerso h2{
    margin: 40px 0;
    font-size: 40px;
}
/*Vignettes des reservations*/

.details{
    margin-top: 20px;
    margin-bottom: 20px;
}
.cell{
    padding: 2px 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


/*Infos personnelles de l'utilisateur*/
.infoPerso{
    width: 70%;
    margin: auto;
}

.infoPerso p{
    text-align: start;
}
