.vignetteImg{
    height: 250px;
}
table{
    margin: auto;
}
/*Bannière de haut de page*/
.topBanner{
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}
.profileBanner{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.profileAvatar{
    width: 130px;
    position: relative;
    top: 40px;
    margin-bottom: 150px;
}
/*Titre h1 h2*/
.titleCenter h1, .titleCenter h2{
    text-align: center;
}
.titleCenter h1{
    margin: 40px 0;
    font-size: 50px;
}
.titleCenter h2, .infoPerso h2{
    margin: 40px 0;
    font-size: 40px;
}
/*Vignettes des reservations*/

/*Infos personnelles de l'utilisateur*/
.infoPerso{
    width: 70%;
    margin: auto;
}

.infoPerso p{
    text-align: start;
}
