
  


/* Formulaire */
.content{
    align-items: center;
    padding-block: 10px;
}
.content-title{
    padding-bottom: 10px;
}

.formulaire{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-block: 15px;
}
.formulaire-terms{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

input{
    display: block;
    padding: 10px;
}

.formulaire,
.formulaire-terms, 
input{
    margin: auto;
}


/* Infos légales */

.legal{
    font-size: 15px;
    font-style: italic;
}
.legal-link{
    font-weight: 700;
}
.legal-link:hover{
    text-decoration: underline;
}

/* Design bouton */
.btn-anim {
    width: fit-content;
    margin: auto;
}

.btn {
    display: block;
    margin-block: 20px;
    padding: 8px 50px;
    cursor: pointer;
    background: #FFFFFF;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    letter-spacing: 4px;
}
.btn:hover {
    color: #d53648;
    background: #312f2f;
    font-weight: 700;
    transition: 0.5s 0.1s;
}

@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px) 
    and (-webkit-min-device-pixel-ratio: 2){
        .content{
            margin: 0;
        }
    } 
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape){
        .content{
            margin: 0;
        }
        .formulaire{
            flex-direction: row;
            gap: 50px;
            align-items: center;
        }

    }
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px){
        main{
            width: 120%;
        }
        .content{
            margin: 0;
        }
    }
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)
    and (orientation: landscape){
        .formulaire{
            flex-direction: row;
            gap: 120px;
            align-items: center;
            margin: 0;
        }
        
    }