
  


  /* Formulaire */
  .content{
      display: flex;
      align-items: center;
      padding-block: 10px;
  }
  .content-title{
      padding-bottom: 10px;
  }

  input{
      display: block;
      padding: 10px;
  }

  /* Infos légales */

  .legal{
      font-size: 15px;
      font-style: italic;
  }
  .legal-link{
      font-weight: 700;
  }

  /* Animations du bouton */
  .btn-anim {
    width: fit-content;
    transform: rotatex(10deg);
    -webkit-animation: rotateAngle 6s linear infinite;
            animation: rotateAngle 6s linear infinite;
  }
  
  .btn {
    display: block;
    position: relative;
    margin: 0.5em 0;
    padding: 0.8em 2.2em;
    cursor: pointer;
    background: #FFFFFF;
    border: none;
    border-radius: 0.4em;
    text-transform: uppercase;
    font-size: 1.4em;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
  }
  .btn:hover {
    color: #d53648;
    background: #312f2f;
    font-weight: 700;
    transition: 0.5s 0.1s;
  }

  