.content{
    margin: auto;
    padding: 20px;
}
.user-table,
.user-cell{
    border: 3px solid #000000;
    border-collapse: collapse;
}
.user-table{
    margin: 5% auto;
    background-color: rgba(var(--info-bg));
}
.user-cell{
    text-align: start;
    padding: 20px;
}
.user-bold{
    font-weight: 700;
    text-decoration: underline;
    line-height: 30px;
}
.fa-eye{
    color: #99FADC;
}
.fa-pen{
    color: var(--main-red);
}