<footer class="menu">
    <img src="" alt="image de logo">
    <div>
        <a href="{{path("game_index")}}">Nos Salles</a>
        <a href="">Concept</a>
        <a href="">EG Interractif</a>
        <a href="">Nous contacter</a>
        <a href="">Profil/inscription</a>
        <a href="">Mentions légales</a>
    </div>
</footer>