<nav>
	<ul>
		<li>BackOffice Admin</li>
		<li>
			<a href="{{ path('user_index')}}">Utilisateurs</a>
		</li>
		<li>
			<a href="{{ path('game_index')}}">Jeux</a>
		</li>
		<li>
			<a href="{{ path('order_index')}}">Commandes</a>
		</li>
	</ul>
</nav>
