<nav class="menu">
    <img src="" alt="image de logo">
    <a href="{{path("game_index")}}">Nos Salles</a>
    <a href="">Concept</a>
    <a href="">EG Interractif</a>
    <a href="">Inscription</a>
</nav>