{% extends "base.html.twig" %}

{% block h1 %}Erreur 410 {% endblock %}

{% block body %}
    <h1>Oups ! Page supprimée </h1>
    <p>La page demandée n'existe plus</p>

    <a href="{{ path("accueil") }}">Retour à l'accueil</a>
{% endblock %}